{{ define "head" }}
  <meta name="description" content="{{.Description}}">
  <title>{{.Title}}</title>

  <meta property="og:description" content="{{.Description}}">
  <meta property="og:image" content="{{.OgImage}}">
  <meta property="og:site_name" content="Convox Blog">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{.URL}}">

  <meta name="twitter:description" content="{{.Description}}">
  <meta name="twitter:image" content="{{.OgImage}}">
  <meta name="twitter:site" content="@goconvox">
  <meta name="twitter:title" content="{{.Title}}">

  {{ range .Tags }}
    <meta property="article:tag" content="{{.}}">
  {{ end }}
{{ end }}
{{ define "content" }}
	<div class="container">
		{{ with .Post }}
			<div class="blog post p-4 pl-5 pr-5">
				<h1>{{.Title}}</h1>
				<div class="body">
					{{ body .Body }}
				</div>
			</div>
		{{ end }}
	</div>
{{ end }}

