{{ define "content" }}
<div class="enterprise-intro">
  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="p-2 pt-2 mt-2 mt-md-1">
        <h1>Your private container management platform</h1>
        <h2>Maximize Developer Productivity<h2>
            <h2>Meet your security and compliance needs</h2>
            <div class="buttons">
              <a class="btn btn-primary text-light" href="mailto:sales@convox.com?subject=Enterprise inquiry">
                Get a Quote
                <i class="far fa-arrow-alt-circle-right ml-1"></i>
              </a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="enterprise-features">
  <div class="container">
    <h1>The scalability of the cloud the security of the data center</h1>
    <div class="d-flex flex-md-row flex-column align-items-top justify-content-around">
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="desc">
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-dharmachakra fa-3x"></i>
          </div>
          <div class="card-body">
            Manage Kubernetes clusters and standalone containers
          </div>
        </div>
      </div>
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="desc" >
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-clipboard-check fa-3x"></i>
          </div>
          <div class="card-body">
            Satisfy PCI / HIPAA / SOC2/ GDPR with a self-hosting inside your VPC
          </div>
        </div>
      </div>
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="desc">
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-shield-alt fa-3x"></i>
          </div>
          <div class="card-body">
            Setup all your security and network configurations once rather than every time you deploy
          a new app
          </div>
        </div>
      </div>
    </div>
        <div class="d-flex flex-md-row flex-column align-items-top justify-content-around">
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="desc">
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-id-badge fa-3x"></i>
          </div>
          <div class="card-body">
            Role based access control and enforced SSO
          </div>
        </div>
      </div>
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="desc" >
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-scroll fa-3x"></i>
          </div>
          <div class="card-body">
            Full audit logging keeps a complete history of every change and who made it
          </div>
        </div>
      </div>
      <div class="p-2 pt-4 mt-4 mt-md-2" style="flex-basis:33%; flex-grow: 0;">
        <div class="feature-desc">
          <div class="card-header" style="background-color: #fff">
            <i class="fas fa-life-ring fa-3x"></i>
          </div>
          <div class="card-body">
           24x7 support with a one hour SLA
          </div>
        </div>
      </div>
    </div>
            
</div>
<div class="customers d-block">
  <div class="container text-center">
    <h1>Integrates with the tools you are already using</h1>
    <ul class="logos">
      <li>
        <i class="fab fa-github fa-5x"></i>
        <p>Github</p>
      </li>
      <li>
        <i class="fab fa-gitlab fa-5x"></i>
        <p>Gitlab</p>
      </li>
      <li>
        <img src="/images/integrations/circleci.png">
        <p>CircleCI</p>
      </li>
      <li>
        <img src="/images/logos/twistlock.png">
        <p>Twistlock</p>
      </li>
      <li>
        <i class="fab fa-slack fa-5x"></i>
        <p>Slack</p>
      </li>
      <li>
        <img src="/images/integrations/datadog.png">
        <p>Datadog</p>
      </li>
      <li>
        <img src="/images/logos/NewRelic-logo-square.png">
        <p>New Relic</p>
      </li>
      <li>
        <i class="fab fa-jenkins fa-5x"></i>
        <p>Jenkins</p>
      </li>
    </ul>
  </div>
  <div class="customers d-block" style="background-color: #e3e6e9">
    <div class="container text-center">
      <h1>You are in good company</h1>
      <ul class="logos">
        <li>
          <img src="/images/logos/sallie_mae_logo.png">
          <p>Sallie Mae Bank</p>
        </li>
        <li>
          <img src="/images/logos/danone.png">
          <p>Danone</p>
        </li>
        <li>
          <img src="/images/logos/doordash.png">
          <p>DoorDash</p>
        </li>
        <li>
          <img src="/images/logos/podium.png">
          <p>Podium</p>
        </li>
        <li>
          <img src="/images/logos/schibsted.png">
          <p>Schibsted</p>
        </li>
        <li>
          <img src="/images/logos/wave.png">
          <p>Wave</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-between align-items-top">
      <blockquote class="blockquote p-2 pt-4 mt-4 mt-md-2">
        Convox has helped us get back control over our development process while reducing our ops costs and workload.
        The team was also super proactive in assisting us with our more complex intranet hosting platform, helping us
        meet very strict security and compliance requirements.
        <footer class="blockquote-footer">François Sechet, <cite><a href="http://www.danone.com/">Danone</a></cite>
        </footer>
      </blockquote>
      <blockquote class="blockquote p-2 pt-4 mt-4 mt-md-2">
        Convox's architecture continues to amaze us, and it keeps getting better. We've been able to automate and
        reduce our scope on countless PCI compliance requirements. No tool or architecture we've used has helped with
        PCI compliance hurdles nearly as much as Convox.
        <footer class="blockquote-footer">Ryan Jackson, <cite><a href="https://smrtsystems.com/">SMRT</a></cite>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="customers d-block" style="background-color: #e3e6e9">
    <div class="container text-center">
      <ul class="logos">
        <li>
          <img src="/images/logos/apn_logo.png">
          <p>Amazon Technology Partner</p>
        </li>
        <li>
          <img src="/images/logos/twistlock.png">
          <p>Twistlock Partner</p>
        </li>
        <li>
          <img src="/images/integrations/circleci.png">
          <p>CircleCI Partner</p>
        </li>
        <li>
          <img src="/images/logos/new_relic_partner.png">
          <p>New Relic Partner</p>
        </li>
      </ul>
    </div>
  </div>
  {{ end }}