{{ define "content" }}

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-6 col-xl-5 col-xxl-6">
        <h1>Enterprise Container Management</h1>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="fas fa-wrench fa-2x"></i> Centrally control host and environment configuration
        </div>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="far fa-check-square fa-2x"></i> Self hosted console for PCI and HIPAA compliance
        </div>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="fas fa-lock fa-2x"></i> Enterprise Grade Security and Encryption
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-lg-6 col-xl-5 col-xxl-6">
        <h2>Made Easy</h2>
        <div class="buttons">
          <a class="btn btn-primary text-light" href="mailto:sales@convox.com?subject=Enterprise inquiry">
            Learn More
            <i class="far fa-arrow-alt-circle-right ml-1"></i>
          </a>
        </div>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="fas fa-hand-holding-usd fa-2x"></i>
          Manage utilization and costs centrally
        </div>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="fas fa-network-wired fa-2x"></i>
          Integrate with all your existing platforms and systems
        </div>
      </div>
      <div class="col-8 col-lg-2 col-xl-3 col-xxl-2 pt-5 pt-lg-0">
        <div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
          <i class="fas fa-phone fa-2x"></i> 24x7 support with a 1 hour SLA
        </div>
      </div>
    </div>
  </div>
</div>


<div class="config d-block">
  <div class="container text-center">
    <h1>Centrally manage your containers and Kubernetes clusters</h1><br>
    <div class="row">
      <blockquote class="blockquote col-12 col-lg-4 pr-lg-5">
        Choose from pre-configured host images or create a custom images that will be used for all your deployments
      </blockquote>
      <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0">
        Create network isolated deployment environments and choose which applications can be deployed where
      </blockquote>
      <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0 pl-lg-5">
        Create externally accessible applications as well as internal only
      </blockquote>
    </div>
  </div>
</div>
<div class="customers d-block">
  <div class="container text-center">
    <h1>Easy integrations</h1>
    <ul class="logos">
      <li>
        <i class="fab fa-github fa-5x"></i>
        <p>Github</p>
      </li>
      <li>
        <i class="fab fa-gitlab fa-5x"></i>
        <p>Gitlab</p>
      </li>
      <li>
        <img src="/images/integrations/circleci.png">
        <p>CircleCI</p>
      </li>
      <li>
        <img src="/images/logos/twistlock.png">
        <p>Twistlock</p>
      </li>
      <li>
        <i class="fab fa-slack fa-5x"></i>
        <p>Slack</p>
      </li>
      <li>
        <img src="/images/integrations/datadog.png">
        <p>Datadog</p>
      </li>
      <li>
        <img src="/images/logos/NewRelic-logo-square.png">
        <p>New Relic</p>
      </li>
    </ul>
  </div>


  <div class="config d-block">
    <div class="container text-center">
      <div class="row">
        <blockquote class="blockquote col-12 col-lg-4 pr-lg-5">
          Convox has helped us get back control over our development process while reducing our ops costs and workload.
          The team was also super proactive in assisting us with our more complex intranet hosting platform, helping us
          meet very strict security and compliance requirements.
          <footer class="blockquote-footer">François Sechet, <cite><a href="http://www.danone.com/">Danone</a></cite>
          </footer>
        </blockquote>
        <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0">
          Convox's architecture continues to amaze us, and it keeps getting better. We've been able to automate and
          reduce our scope on countless PCI compliance requirements. No tool or architecture we've used has helped with
          PCI compliance hurdles nearly as much as Convox.
          <footer class="blockquote-footer">Ryan Jackson, <cite><a href="https://smrtsystems.com/">SMRT</a></cite>
          </footer>
        </blockquote>
        <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0 pl-lg-5">
          Convox is incredibly easy use and maintain and it plugs into our existing AWS setup. Now that our team has a
          private and secure PaaS, managing all our internal business apps is a breeze.
          <footer class="blockquote-footer">Chris LeBlanc, <cite><a href="https://www.arthrex.com/">Arthrex</a></cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="customers d-block">
    <div class="container text-center">
      <h1>You are in good company</h1>
      <ul class="logos">
        <li>
          <img src="/images/logos/sallie_mae_logo.png">
          <p>Sallie Mae Bank</p>
        </li>
        <li>
          <img src="/images/logos/danone.png">
          <p>Danone</p>
        </li>
        <li>
          <img src="/images/logos/doordash.png">
          <p>DoorDash</p>
        </li>
        <li>
          <img src="/images/logos/podium.png">
          <p>Podium</p>
        </li>
        <li>
          <img src="/images/logos/schibsted.png">
          <p>Schibsted</p>
        </li>
        <li>
          <img src="/images/logos/wave.png">
          <p>Wave</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="config d-block">
    <div class="container text-center">
      <h1>World Class Support</h1><br>
      <div class="row">
        <blockquote class="blockquote col-12 col-lg-4 pr-lg-5">
          24x7 support with a one hour SLA for production incidents
        </blockquote>
        <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0">
          Live hands-on support included
        </blockquote>
        <blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0 pl-lg-5">
          Self-healing infrastructure guarantees maximum uptime
        </blockquote>
      </div>
    </div>
  </div>
{{ end }}
