{{ define "content" }}
<div class="intro">
  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="p-2 pt-2 mt-2 mt-md-1">
        <h1>Your own private Platform as a Service</h1>
        <h2>Maximize Developer Productivity<h2>
            <h2>Meet your security and compliance needs</h2>
            <div class="buttons">
              <a class="btn btn-primary text-light" href="mailto:sales@convox.com?subject=Enterprise inquiry">
                Learn More
                <i class="far fa-arrow-alt-circle-right ml-1"></i>
              </a>
            </div>
      </div>
    </div>
  </div>
</div>
<div class="enterprise-features">
  <div class="container text-center">
    <h1>Centrally manage your containers with Kubernetes</h1>
    <div class="d-flex flex-md-row flex-column justify-content-between">
      <div class="p-2 pt-2 mt-2 mt-md-1">
        <i class="fas fa-clipboard-check fa-3x"></i>
        <p class="description">Satisfy PCI / HIPAA / SOC2/ GDPR with a self-hosted console inside your VPC</p>
      </div>
      <div class="p-2 pt-2 mt-2 mt-md-1">
        <i class="fas fa-cloud-upload-alt fa-3x"></i>
        <p class="description">Enterprise grade scalability and reliability running on AWS Native infrastructure</p>
      </div>
      <div class="p-2 pt-2 mt-2 mt-md-1">
        <i class="fas fa-phone fa-3x"></i>
        <p class="description">24x7 support with a one hour SLA</p>
      </div>
    </div>
  </div>
</div>
<div class="customers d-block">
  <div class="container text-center">
    <h1>Integrates with the tools you are already using</h1>
    <ul class="logos">
      <li>
        <i class="fab fa-github fa-5x"></i>
        <p>Github</p>
      </li>
      <li>
        <i class="fab fa-gitlab fa-5x"></i>
        <p>Gitlab</p>
      </li>
      <li>
        <img src="/images/integrations/circleci.png">
        <p>CircleCI</p>
      </li>
      <li>
        <img src="/images/logos/twistlock.png">
        <p>Twistlock</p>
      </li>
      <li>
        <i class="fab fa-slack fa-5x"></i>
        <p>Slack</p>
      </li>
      <li>
        <img src="/images/integrations/datadog.png">
        <p>Datadog</p>
      </li>
      <li>
        <img src="/images/logos/NewRelic-logo-square.png">
        <p>New Relic</p>
      </li>
      <li>
        <i class="fab fa-jenkins fa-5x"></i>
        <p>Jenkins</p>
      </li>
    </ul>
  </div>
  <div class="customers d-block" style="background-color: #e3e6e9">
    <div class="container text-center">
      <h1>You are in good company</h1>
      <ul class="logos">
        <li>
          <img src="/images/logos/sallie_mae_logo.png">
          <p>Sallie Mae Bank</p>
        </li>
        <li>
          <img src="/images/logos/danone.png">
          <p>Danone</p>
        </li>
        <li>
          <img src="/images/logos/doordash.png">
          <p>DoorDash</p>
        </li>
        <li>
          <img src="/images/logos/podium.png">
          <p>Podium</p>
        </li>
        <li>
          <img src="/images/logos/schibsted.png">
          <p>Schibsted</p>
        </li>
        <li>
          <img src="/images/logos/wave.png">
          <p>Wave</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-between align-items-top">
      <blockquote class="blockquote p-2 pt-4 mt-4 mt-md-2">
        Convox has helped us get back control over our development process while reducing our ops costs and workload.
        The team was also super proactive in assisting us with our more complex intranet hosting platform, helping us
        meet very strict security and compliance requirements.
        <footer class="blockquote-footer">François Sechet, <cite><a href="http://www.danone.com/">Danone</a></cite>
        </footer>
      </blockquote>
      <blockquote class="blockquote p-2 pt-4 mt-4 mt-md-2">
        Convox's architecture continues to amaze us, and it keeps getting better. We've been able to automate and
        reduce our scope on countless PCI compliance requirements. No tool or architecture we've used has helped with
        PCI compliance hurdles nearly as much as Convox.
        <footer class="blockquote-footer">Ryan Jackson, <cite><a href="https://smrtsystems.com/">SMRT</a></cite>
        </footer>
      </blockquote>
      <blockquote class="blockquote p-2 pt-4 mt-4 mt-md-2">
        Convox is incredibly easy use and maintain and it plugs into our existing AWS setup. Now that our team has a
        private and secure PaaS, managing all our internal business apps is a breeze.
        <footer class="blockquote-footer">Chris LeBlanc, <cite><a href="https://www.arthrex.com/">Arthrex</a></cite>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="customers d-block" style="background-color: #e3e6e9">
    <div class="container text-center">
      <ul class="logos">
        <li>
          <img src="/images/logos/apn_logo.png">
          <p>Amazon Technology Partner</p>
        </li>
        <li>
          <img src="/images/logos/twistlock.png">
          <p>Twistlock Partner</p>
        </li>
        <li>
          <img src="/images/integrations/circleci.png">
          <p>CircleCI Partner</p>
        </li>
        <li>
          <img src="/images/logos/new_relic_partner.png">
          <p>New Relic Partner</p>
        </li>
      </ul>
    </div>
  </div>
  {{ end }}