{{ define "content" }}

	<div class="intro">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<h1>Deploy and manage any app</h1>
					<h2>Free for one developer, scalable for large teams</h2>
					<div class="buttons">
						<a class="btn btn-primary text-light" href="https://docs.convox.com/introduction/getting-started">
							Get Started
							<i class="far fa-arrow-alt-circle-right ml-1"></i>
						</a>
					</div>
				</div>
				<div class="p-2">
					<div class="text-left checklist" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
						<ul class="fa-ul features">
							<li><i class="fa-li fa fa-check"></i>Easy Configuration</li>
							<li><i class="fa-li fa fa-check"></i>Continuous Delivery</li>
							<li><i class="fa-li fa fa-check"></i>Infrastructure as Code</li>
							<li><i class="fa-li fa fa-check"></i>Local Development</li>
							<li><i class="fa-li fa fa-check"></i>Secrets Management</li>
							<li><i class="fa-li fa fa-check"></i>Zero Downtime Deploys</li>
							<li><i class="fa-li fa fa-check"></i>One-Click Rollbacks</li>
							<li><i class="fa-li fa fa-check"></i>Audit Trails</li>
							<li><i class="fa-li fa fa-check"></i>Secure by Default</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc pt-4">
						<div class="card-header" style="background-color: #fff">
							<h1>Easy Configuration</h1>
						</div>
						<div class="card-body" style="text-align">
							Setup a production ready Kubernetes or ECS cluster in minutes with one click.
							No fussing with templates or scripts.
						</div>
					</div>
				</div>
				<div class="p-2">
					<div class="feature-image pt-4">
						<img src="/images/features/add_rack.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc pt-4">
						<div class="card-header" style="background-color: #fff">
							<h1>Continuous Delivery</h1>
						</div>
						<div class="card-body">
							Deploy seamlessly from Github or Gitlab. Automatically test every pull request
							and deploy every change.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/workflow.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Infrastructure as Code</h1>
						</div>
						<div class="card-body">
							One file to rule them all! Configure your entire environment from local development through to staging and production with a single yaml file. 
							No more maintaining and synchronizing massive templates and scripts.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/convox_yml.png">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Local Development</h1>
						</div>
						<div class="card-body">
							Onboard new team members in minutes instead of days. Need more power for development? 
							Use our cloud native development feature and never melt your laptop down again.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/terminals/convox_start.gif">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Secrets Management</h1>
						</div>
						<div class="card-body">
							Securely store secrets, passwords, tokens and keys in an encrypted vault isolated per environment.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/secrets_store.png">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Zero Downtime Deploys</h1>
						</div>
						<div class="card-body">
							Lighting fast, rolling deploys including running migrations with zero downtime.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/rolling_deploy.png">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>One-Click Rollbacks</h1>
						</div>
						<div class="card-body">
							No more troubleshooting a bad release in the middle of the night. Quickly rollback to any previous release, including environment changes, with one click.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/rollback.png">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Audit Trails</h1>
						</div>
						<div class="card-body">
							Maintain a full history of all deployments, one-off commands, and configuration changes. Centralize all your logs for a complete view of your applications.
							Use our log viewer or stream all your logs to a 3rd party service.
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/audit_log.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="d-flex flex-md-row flex-column justify-content-center">
				<div class="p-2">
					<div class="feature-desc">
						<div class="card-header" style="background-color: #fff">
							<h1>Secure by Default</h1>
						</div>
						<div class="card-body">
							Fully automated security configuration avoids dangerous mistakes. 
							Role based access control and hardware 2fa protects your applications. Self hosted enterprise options available to meet your PCI and HIPAA compliance needs
						</div>
					</div>
				</div>
				 <div class="p-2">
					<div class="feature-image">
						<img src="/images/features/security.png">
					</div>
				</div>
				
			</div>
		</div>
	</div>
{{ end }}
