{{ define "content" }}

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 col-xl-5 col-xxl-6">
					<h1>Build Apps</h1>
					<h2>Not Infrastructure</h2>
					<h3>
						Deploy any application to the cloud with a single command.
					</h3>
					<h3>
						Onboard new developers in minutes.
					</h3>
					<div class="buttons">
						<a class="btn btn-primary text-light" href="https://console.convox.com/signup">
							Get Started
							<i class="far fa-arrow-alt-circle-right ml-1"></i>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-xl-7 col-xxl-6 pt-5 pt-lg-0">
					<div class="text-right cli" style="background-color: rgb(18,24,31); border-radius: 8px; padding: 12px">
						<img src="/images/terminals/intro.gif" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-5 col-xxl-7">
					<div class="card integrations">
						<div class="card-header">
							<h1>Simple Integrations</h1>
						</div>
						<div class="card-body">
							<ul class="items d-flex flex-wrap align-items-center justify-content-around">
								<li><i class="fab fa-aws"></i>
								<li><img src="/images/integrations/circleci.png"></i>
								<li><img src="/images/integrations/datadog.png"></i>
								<li><i class="fab fa-github"></i>
								<li><i class="fab fa-gitlab"></i>
								<li><img src="/images/integrations/papertrail.png"></i>
								<li><i class="fab fa-slack"></i>
								<li><img src="/images/integrations/travisci.png"></i>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-xl-3 col-xxl-2 pt-4 pt-xl-0">
					<div class="card stack">
						<div class="card-header">
							<h1>Modern Stack</h1>
						</div>
						<div class="card-body">
							<ul class="items d-flex justify-content-around">
								<li><i class="fab fa-docker" style="margin-top: 12px;"></i>
								<li><img src="/images/integrations/kubernetes.png"></i>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8 col-xl-4 col-xxl-3 pt-4 pt-xl-0">
					<div class="card compliance">
						<div class="card-header">
							<h1>Instant Compliance</h1>
						</div>
						<div class="card-body">
							<ul class="items d-flex justify-content-around">
								<li><i class="far fa-check-square mr-2 text-success"></i>HIPAA</li>
								<li><i class="far fa-check-square mr-2 text-success"></i>PCI</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="customers d-block">
		<div class="container text-center">
			<h1>Trusted by technology leaders at companies of every size</h1>
			<ul class="logos">
				<li>
					<img src="/images/logos/balsamiq.png">
					<p>Balsamiq</p>
				</li>
				<li>
					<img src="/images/logos/danone.png">
					<p>Danone</p>
				</li>
				<li>
					<img src="/images/logos/decisiv.png">
					<p>Decisiv</p>
				</li>
				<li>
					<img src="/images/logos/doordash.png">
					<p>DoorDash</p>
				</li>
				<li>
					<img src="/images/logos/fixd.png">
					<p>Fixd</p>
				</li>
				<li>
					<img src="/images/logos/havenlife.png">
					<p>Haven Life</p>
				</li>
				<li>
					<img src="/images/logos/managedbyq.png">
					<p>Managed by Q</p>
				</li>
				<li>
					<img src="/images/logos/podium.png">
					<p>Podium</p>
				</li>
				<li>
					<img src="/images/logos/schibsted.png">
					<p>Schibsted</p>
				</li>
				<li>
					<img src="/images/logos/statflo.png">
					<p>Statflo</p>
				</li>
				<li>
					<img src="/images/logos/wave.png">
					<p>Wave</p>
				</li>
				<li>
					<img src="/images/logos/waybetter.png">
					<p>WayBetter</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="quotes d-block">
		<div class="container text-center">
			<div class="row">
				<blockquote class="blockquote col-12 col-lg-4">
					Having Convox on board has freed up roughly 25% of our engineer's time every week. The level of service they provide is truly astounding.
					<footer class="blockquote-footer">Arthur Weagel, <cite>Podium</cite></footer>
				</blockquote>
				<blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0">
					The Convox advantage is that operations work is reduced to an absolute minimum. We used to have an extra consultant just to keep our servers safe, taking care of updates, logs and backups, whereas now our developers manage the entire infrastructure by themselves.	
					<footer class="blockquote-footer">Cesare Navorotto, <cite>Monrif</cite></footer>
				</blockquote>
				<blockquote class="blockquote col-12 col-lg-4 pt-4 pt-lg-0">
					Convox helped us migrate everything to AWS quicker than I ever thought was possible. Unlocking all the advantages of the cloud through Convox is easily one of the best decisions we made.
					<footer class="blockquote-footer">Ryan Jackson, <cite>Paid Labs</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>

	<div style="height:24px;"></div>

{{ end }}
