{{ define "main" }}
	<html lang="en">
		<head>
			<title>Convox</title>

			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

			<script src="/assets/site.js"></script>
			<script>
				!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
					analytics.load("{{ env "SEGMENT_TOKEN" }}");
					analytics.page();
				}}();
			</script>
		</head>
		<body class="{{.Active}}">
			<nav class="navbar navbar-expand-md fixed-top navbar-dark">
				<div class="container pt-1 pb-1">
					<a class="navbar-brand" href="/">
						<img src="/images/logo.png" height="30">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="navbar-nav ml-auto mr-2">
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 {{ if eq .Active "features" }}active{{ end }}"><a class="nav-link" href="/features">Blog</a></li>
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 {{ if eq .Active "blog" }}active{{ end }}"><a class="nav-link" href="/blog">Blog</a></li>
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0"><a class="nav-link" href="https://docs.convox.com">Documentation</a></li>
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 {{ if eq .Active "pricing" }}active{{ end }}"><a class="nav-link" href="/pricing">Pricing</a></li>
						</ul>

						<ul class="navbar-nav ml-4 d-none d-lg-flex">
							<li class="nav-item">
								<a class="btn btn-primary pl-3 pr-3" href="https://console.convox.com/login">
									<i class="fa fa-user mr-2"></i>
									Log In
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				{{ template "content" . }}
			</div>
			<nav class="navbar navbar-expand fixed-bottom navbar-dark text-light">
				<div class="container">
					<ul class="navbar-nav d-none d-sm-block">
						<li class="nav-item pl-3">
							&copy; 2019 Convox, Inc. All rights reserved.
						</li>
					</ul>
					<ul class="navbar-nav pr-2">
						<li class="nav-item"><a class="nav-link" href="/privacy">Privacy Policy</a></li>
						<li class="nav-item"><a class="nav-link" href="/terms">Terms of Use</a></li>
					</ul>
				</div>
			</nav>
		</body>
	</html>
{{ end }}
