{{ define "main" }}
	<html lang="en">
		<head>
			<title>Convox</title>

			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

			<script src="/assets/site.js"></script>
		</head>
		<body>
			<nav class="navbar navbar-expand-md fixed-top navbar-dark">
				<div class="container pt-1 pb-1">
					<a class="navbar-brand" href="/">
						<img src="/images/logo.png" height="30">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="navbar-nav ml-auto mr-2">
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 {{ if eq .Active "blog" }}active{{ end }}"><a class="nav-link" href="/blog">Blog</a></li>
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0"><a class="nav-link" href="https://docs.convox.com">Documentation</a></li>
							<li class="nav-item ml-1 ml-md-4 mr-4 mr-md-0 {{ if eq .Active "pricing" }}active{{ end }}"><a class="nav-link" href="/pricing">Pricing</a></li>
						</ul>

						<ul class="navbar-nav ml-4 d-none d-lg-flex">
							<li class="nav-item">
								<a class="btn btn-primary pl-3 pr-3" href="https://console.convox.com/login">
									<i class="fa fa-user mr-2"></i>
									Log In
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				{{ template "content" . }}
			</div>
			<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark text-light">
				<div class="container">
					<ul class="navbar-nav">
						<li class="nav-item pl-3">
							&copy; 2019 Convox, Inc. All rights reserved.
						</li>
					</ul>
					<ul class="navbar-nav pr-2">
						<li class="nav-item"><a class="nav-link" href="/privacy">Privacy Policy</a></li>
						<li class="nav-item"><a class="nav-link" href="/terms">Terms of Use</a></li>
					</ul>
				</div>
			</nav>
		</body>
	</html>
{{ end }}
