{{ define "content" }}

	<section class="plans pt-3 pt-sm-5 pb-3 pb-sm-5">
		<div class="container text-center">
			<h1 class="mb-3 mb-sm-5 title">Plans that scale with your growth</h1>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
					<div class="plan card">
						<div class="card-header"><h1>Developer</h1></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pricing">Free</li>
							<li class="list-group-item">
								<ul class="features">
									<li>Single User</li>
								</ul>
							</li>
						</ul>
						<div class="card-footer">
							<a class="btn btn-primary" href="https://console.convox.com/signup">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
					<div class="plan card">
						<div class="card-header"><h1>Basic</h1></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pricing monthly">$99</li>
							<li class="list-group-item">
								<ul class="features">
									<li>Includes 3 Users</li>
									<li>Audit Logs</li>
								</ul>
							</li>
						</ul>
						<div class="card-footer">
							<a class="btn btn-primary" href="https://console.convox.com/signup">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
					<div class="plan card">
						<div class="card-header"><h1>Pro</h1></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pricing monthly">$499</li>
							<li class="list-group-item">
								<ul class="features">
									<li>Includes 5 Users</li>
									<li>Audit Logs</li>
									<li>Role-Based Access Control</li>
									<li class="important">Business-Day Support</li>
								</ul>
							</li>
						</ul>
						<div class="card-footer">
							<a class="btn btn-primary" href="https://console.convox.com/signup">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mb-1">
					<div class="plan card">
						<div class="card-header"><h1>Enterprise</h1></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pricing">Custom</li>
							<li class="list-group-item">
								<ul class="features">
									<li>Unlimited Users</li>
									<li>Audit Logs</li>
									<li>Role-Based Access Control</li>
									<li>Single Sign-On</li>
									<li class="important">Self-Hosted Console</li>
									<li class="important">24/7 Support</li>
								</ul>
							</li>
						</ul>
						<div class="card-footer">
							<a class="btn btn-primary" href="mailto:sales@convox.com?subject=Convox%20Enterprise">Get a Quote</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="general pt-3 pb-3 pt-sm-5 pb-sm-5">
		<div class="container text-center">
			<h1 class="mb-3 mb-sm-5">Core features included in every plan</h1>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3 mt-3">
					<h2>Workflows</h2>
					<p>Automated Testing</p>
					<p>Continuous Deployment</p>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mt-3">
					<h2>Integrations</h2>
					<p>GitHub</p>
					<p>GitLab</p>
					<p>Slack</p>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mt-3">
					<h2>Monitoring</h2>
					<p>Metrics Dashboard</p>
					<p>Log Aggregation</p>
					<p>Syslog Forwarding</p>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 mt-3">
					<h2>Security</h2>
					<p>User Access Tokens</p>
					<p>Two-Factor Authentication</p>
				</div>
			</div>
		</div>
	</section>

{{ end }}
