{{ define "content"}}

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 col-xl-5 col-xxl-6">
					<h1>Convox Pro</h1>
					<h3>Developer collaboration made easy</h3>
					<h3>Give your team the tools they need to manage and monitor your apps and infrastructure across clouds</h3>
					<div class="buttons">
						<a class="btn btn-primary text-light mr-2" href="https://console.convox.com/signup">
							Get Started
							<i class="far fa-arrow-alt-circle-right ml-1"></i>
						</a>
						<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
						<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
						<a class="btn btn-primary text-light ml-2 mr-2" href=""
							onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cameron-convox/30min'});return false;">
							Schedule a Demo
							<i class="fas fa-desktop ml-1"></i>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-xl-7 col-xxl-6 pt-5 pt-lg-0">
					<div class="feature-image image-responsive">
						<img src="/images/blog/racks.png" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container alternate">
			<h1>A complete deployment platform for your team</h1>
			<div class="demo">
				<div class="description">
					<h2>Automated Workflows</h2>
					<p>Create continuous integration and deployment pipelines for all your apps in one place. Easily deploy to one or more clouds automatically</p>
					<p>Generate a review application automatically for every pull request</p>
					<p>Source control integrations for GitHub and GitLab</p>
					<p>Integrations available for CircleCI, Github Actions, Jenkins and more</p>
				</div>
				<div class="visual">
					<div class="feature-image image-responsive">
						<img src="/images/features/workflow.png">
					</div>
				</div>
			</div>
			<div class="demo">
				<div class="description">
					<h2>Role-based Access Control</h2>
					<p>Easily give your team members the access they need</p>
					<p>Multiple access roles so you can delegate control where needed</p>
					<p>Protect your environment with hardware 2FA</p>
					<p>Avoid complicated cloud-specific access management</p>
				</div>
				<div class="visual">
					<div class="feature-image image-responsive">
						<img src="/images/features/rbac.png" >
					</div>
				</div>
			</div>
			<div class="demo">
				<div class="description">
					<h2>Complete Visibility</h2>
					<p>Manage and monitor your infrastructure across clouds</p>
					<p>Monitor the health and load of all your apps in one place</p>
					<p>Complete audit logs of every action taken and by whom</p>
					<p>View a complete history of all application changes and roll back with one click</p>
				</div>
				<div class="visual">
					<div class="feature-image image-responsive">
						<img src="/images/features/monitoring.png">
					</div>
				</div>
			</div>
			<div class="demo">
				<div class="description">
					<h2>Easy Integrations</h2>
					<p>Get notifications in Slack every time a change is made</p>
					<p>Monitor your apps with DataDog, LogDNA, and more</p>
					<p>Custom webhooks let you integrate with anything</p>
				</div>
				<div class="visual">
					<div class="feature-image image-responsive">
						<img src="/images/features/slack.png">
					</div>
				</div>
			</div>
			<div class="demo">
				<div class="description">
					<h2>World Class Support</h2>
					<p>Let our team of multi-cloud Kubernetes experts help you get up and running</p>
					<p>Ask questions, file support tickets, and make feature requests</p>
					<p>Our globally distributed support team is always available</p>
				</div>
				<div class="visual">
					<div class="feature-image image-responsive">
						<img src="/images/features/support.png">
					</div>
				</div>
			</div>
			<div class="buttons text-center">
				<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
				<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
				<a class="btn btn-primary text-light mr-2" href="https://console.convox.com/signup">
					Get Started
					<i class="far fa-arrow-alt-circle-right ml-1"></i>
				</a>
				<a class="btn btn-primary text-light ml-2 mr-2" href=""
					onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cameron-convox/30min'});return false;">
					Request a Demo
					<i class="fas fa-desktop ml-1"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<h1>Total Control With Convox Enterprise</h1>
			<div class="features features-3">
				<div class="feature">
					<h2>
						<i class="fas fa-id-badge"></i>
						Self Hosted
					</h2>
					<p>
						Easily achieve PCI / HIPAA / GDPR compliance with your own private Platform as a Service installed inside your cloud environment.
					</p>
				</div>
				<div class="feature">
					<h2>
						<i class="fas fa-scroll"></i>
						Enterprise Grade Support
					</h2>
					<p>
						24x7 on-call support for critical issues. Give your team direct access to Convox engineers with a shared Slack channel.
					</p>
				</div>
				<div class="feature">
					<h2>
						<i class="fas fa-shield-alt"></i>
						Policy Enforcement
					</h2>
					<p>
						Set up your security and network policies once to cover everything your team deploys. Enforce access control with LDAP or SAML based SSO. 
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section quotes">
		<div class="container">
			<div class="row">
				<blockquote class="blockquote col-12 col-lg-6">
					Convox has helped us get back control over our development process while reducing our ops costs 
					and workload. The team was also super proactive in assisting us with our more complex intranet 
					hosting platform, helping us meet very strict security and compliance requirements.
					<footer class="blockquote-footer">François Sechet, <cite>Danone</cite></footer>
				</blockquote>
				<blockquote class="blockquote col-12 col-lg-6">
					Convox's architecture continues to amaze us, and it keeps getting better. 
					We've been able to automate and reduce our scope on countless PCI compliance requirements.
					No tool or architecture we've used has helped with PCI compliance hurdles nearly as much as Convox.
					<footer class="blockquote-footer">Ryan Jackson, <cite>SMRT</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container text-center buttons">
			<a class="btn btn-primary text-light ml-2 mr-2" href="mailto:sales@convox.com?subject=Convox%20Enterprise">
				Contact Sales
				<i class="far fa-envelope ml-1"></i>
			</a>
		</div>
	</div>

{{ end }}